<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form method="post" action="/">
      <input type="text" placeholder="Enter username" name="username">
      <input type="password" placeholder="Enter password" name="password">
      <button>Login</button>
    </form>
  </div>
</body>

</html>