<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="skillsTeach" placeholder="Skills You Can Teach">
      <input type="text" name="skillsLearn" placeholder="Skills You Want to Learn">
      <button>Register</button>
    </form>
  </div>
</body>

</html>